# Environment variables
.env

# Virtual environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Oracle Wallet
oracle_wallet/
*.sso
*.p12

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite

pruebas/

Wallet_malackathon25/